.userInputBox{
    height: 5rem;
    width: 20rem;
    margin-bottom: 1rem;
    border: solid 5px #666699;
    border-radius: 3.5%;
}

.userInput_container{
    display: flex;
    justify-content: center;
}
